<!-- header area start -->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="logo-area">
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/img/iakademi-logo.png" alt="logo" /> </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="top-nav-area">
                    <ul>

                        <li>
                            <a href="@Url.Action("EnYeniler","Home")">
                                <i class="fa fa-user"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        EN YENİLER
                                    </div>
                                </div>
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("Ozeller","Home")">
                                <i class="fa fa-user"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        ÖZELLER
                                    </div>
                                </div>
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("EnCokindirim","Home")">
                                <i class="fa fa-user"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        EN ÇOK İNDİRİM
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("OneCikanlar","Home")">
                                <i class="fa fa-user"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        ÖNE ÇIKANLAR
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("CokSatanlar","Home")">
                                <i class="fa fa-user"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        ÇOK SATANLAR
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Siparislerim","Home")">
                                <i class="fa fa-heart-o"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        SİPARİŞLERİM
                                    </div>
                                </div>
                            </a>
                        </li>


                        <li>
                            <i class="fa fa-language"> </i>
                            <div class="nav-select">
                                <div class="select-wrapper">
                                    <select class="select-topnav">
                                        <option selected="selected">English</option>
                                        <option>Hebrew</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-money"></i>
                            <div class="nav-select">
                                <div class="select-wrapper">
                                    <select class="select-topnav">
                                        <option selected="selected">USD $</option>
                                        <option>Euro €</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="index.html#">
                                <i class="fa fa-user"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        My Account
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="wishlist.html">
                                <i class="fa fa-heart-o"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        My Wishlist
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="checkout.html">
                                <i class="fa fa-exchange"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        Checkout
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="login.html">
                                <i class="fa fa-key"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        log in
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html">
                                <div class="cart_area">
                                    <i class="fa fa-shopping-cart"></i>
                                    <div class="nav-select">
                                        <div class="text_menu">
                                            cart
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="cart-sub">
                                <div class="all-cart">
                                    <p>1x <a href="index.html#">Sollicitudin Rhoncus</a> <span>$150.00</span> </p>
                                    <p>2x <a href="index.html#">Sollicitudin Rhoncus</a> <span>$600.00</span> </p>
                                </div>
                                <h3>3 product<span>Total <span>$1350.00</span></span></h3>
                                <div class="sub-button">
                                    <a href="@Url.Action("cart","Home")">SEPET SAYFAMA GİT</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
